.emojiInfo{
 list-style-type: none;
}

 

.face{
 height: 5px;
 font-size: 40px;
}

.container{
display: flex;
flex-direction: column;
text-align: center;
align-items: center;
position: absolute;
top: 5px;
left: 300px;
right: 300px;
}

input{
 height: 36px;
 width: 55%;
}

.code{
  
 position: relative;
 display: flex;
 flex-direction: column;
}



 

 